/* _buttons.css */

button:disabled {
  cursor: default;
}

.btn-lg {
  min-width: 160px;
  height: 50px;
  font-size: 1.125rem;
  font-weight: 600;
}

.btn-outline {
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-50);
  border-radius: 0.5rem;
}

/* =================== */
/*  Theme Button
/* =================== */
.btn-theme {
  color: var(--theme-color);
  font-family: var(--special-font);
  background: var(--theme-gradient);
  letter-spacing: 0.05rem;
}

.btn-theme::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 200ms ease;
}

.btn-theme:hover::before {
  opacity: 1;
}

.btn-theme:active {
  box-shadow: inset 0px 5px 7px rgba(0, 0, 0, 0.6),
    inset 0px -2px 3px rgba(0, 0, 0, 0.2);
}

.btn-theme:active span {
  transform: translateY(2px);
}

/* =================== */
/*  Default Button
/* =================== */
.btn-default {
  color: var(--theme-color);
  font-family: var(--special-font);
  letter-spacing: 0.05rem;
}

.btn-default::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--theme-color);
  border-radius: 0.5rem;
  transition: transform 300ms ease;
  will-change: transform;
}

.btn-default:hover::after {
  transform: scale(1.03);
}

/* useless buttons /*

/* =================== */
/*  Primary Button
/* =================== */

.btn-primary {
  min-width: 120px;
  color: white;
  background: linear-gradient(to right, #1e90ff, #00ced1, #32cd32);
  transition: filter 150ms ease-out;
}

.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit;
  z-index: -1;
  transition: transform 150ms ease-out;
}

.btn-primary:hover {
  filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.btn-primary:hover::after {
  transform: scale(1.05);
}

/* =================== */
/*  Primary Button
/* =================== */

.btn-secondary {
  color: var(--gray-10);
  background: var(--gray-100);
  transition: background-color 150ms ease;
}

.btn-secondary:hover {
  background: var(--gray-80);
}

/*---*/
