.timeline-container::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--theme-color);
}

.timeline-item {
  opacity: 0;
  transition: opacity var(--animation-duration) cubic-bezier(0, 0, 0.58, 1);
  will-change: transform;
}

.timeline-item[data-visible="true"] {
  opacity: 1;
}

.timeline-mark {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(25% + 15px);
  left: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: background-color 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.timeline-mark[data-icon="education"] {
  background-image: url("/img/experience/graduate-cap.png");
}

.timeline-mark[data-icon="work"] {
  background-image: url("/img/experience/briefcase.png");
}

.timeline-mark[data-icon="learning"] {
  background-image: url("/img/experience/notebook.png");
}

.timeline-content {
  width: calc(100% - 60px);
  left: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.timeline-item:nth-child(even) .timeline-content:hover::after,
.timeline-item:nth-child(even)
  .timeline-mark:hover
  ~ .timeline-content::after {
  border-right-color: var(--theme-bg--light);
  border-left-color: var(--theme-bg--light);
}

.timeline-item:nth-child(odd) .timeline-content:hover::after,
.timeline-item:nth-child(odd)
  .timeline-mark:hover
  ~ .timeline-content::after {
  border-left-color: var(--theme-bg--light);
  border-right-color: var(--theme-bg--light);
}

.timeline-content::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 99.9%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--theme-bg);
  transition: border-color 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  filter: drop-shadow(-5px 0px 3px rgba(0, 0, 0, 0.4));
}

.timeline-text {
  color: var(--gray-50);
}

.timeline-subtitle {
  color: var(--theme-color);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(25%);
  }
  70% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-25%);
  }
  70% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}

.timeline-item[data-visible="true"] .timeline-content {
  animation: slideInFromRight var(--animation-duration)
    cubic-bezier(0, 0, 0.58, 1) forwards;
}

@media (min-width: 1024px) {
  .timeline-text {
    display: none;
  }

  .timeline-mark {
    width: 50px;
    height: 50px;
  }

  .timeline-container::before {
    left: 50%;
  }

  .timeline-item::after {
    height: 50px;
    display: flex;
    align-items: center;
    content: attr(timeline-text);
    position: absolute;
    top: calc(25% + -10px);
    font-size: 14px;
  }

  .timeline-item:nth-child(odd)::after {
    left: 50%;
    margin-left: 50px;
  }

  .timeline-item:nth-child(even) {
    justify-content: flex-end;
  }

  .timeline-item:nth-child(even)::after {
    right: 50%;
    left: auto;
    margin-right: 50px;
  }

  .timeline-item:nth-child(odd)[data-visible="true"] .timeline-content {
    animation: slideInFromLeft var(--animation-duration)
      cubic-bezier(0, 0, 0.58, 1) forwards;
  }

  .timeline-item:nth-child(even)[data-visible="true"] .timeline-content {
    animation: slideInFromRight var(--animation-duration)
      cubic-bezier(0, 0, 0.58, 1) forwards;
  }

  .timeline-content {
    width: 43%;
    left: 0;
  }

  .timeline-mark {
    left: 50%;
  }

  .timeline-item:nth-child(odd) .timeline-content::after {
    left: 99.9%;
    border-left: 15px solid var(--theme-bg);
    border-right: none;
    filter: drop-shadow(5px 0px 3px rgba(0, 0, 0, 0.4));
  }

  .timeline-item:nth-child(even) .timeline-content::after {
    right: 99.9%;
    border-right: 15px solid var(--theme-bg);
    border-left: none;
    filter: drop-shadow(-5px 0px 3px rgba(0, 0, 0, 0.4));
  }

}
