.fall-item {
  transition: opacity 600ms ease, transform 600ms ease;
  opacity: 0;
  transform: translateY(-20px);
}

.fall-item.enter-down {
  opacity: 1;
  transform: translateY(0);
}

/* --- */

.fly-item {
  transition: opacity 600ms ease, transform 600ms ease;
  opacity: 0;
  transform: translateY(20px);
}

.fly-item.enter-up {
  opacity: 1;
  transform: translateY(0);
}

/* --- */

.fade-item {
  transition: opacity 600ms ease;
  opacity: 0;
}

.fade-item.enter {
  opacity: 1;
}


/* PreloaderAnimation.vue */

.scale-up-animation {
  animation: scaleUp 3s ease-in-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

.onyxia-animation {
  position: absolute;
  top: 30%;
  left: -500px;
  transform: translateY(-50%);
  width: 500px;
  animation: flyAcross 3s linear forwards;
}

@keyframes flyAcross {
  0% {
    left: -500px;
  }
  100% {
    left: calc(100vw + 500px);
  }
}